In [1]:
import pandas as pd
import numpy as np
# Import libraries
print(__doc__)
from time import time
import matplotlib.pyplot as plt
from matplotlib import offsetbox
from sklearn import (manifold, datasets, decomposition, ensemble,
                     random_projection)
import hdbscan
import seaborn as sns
%matplotlib inline
import matplotlib
from matplotlib import colors
import matplotlib.patches as mpatches
import matplotlib.ticker as ticker
from mpl_toolkits.mplot3d import Axes3D
import pylab
from matplotlib import pyplot
from IPython.display import display, HTML

#import enthought.mayavi.mlab as mylab

Automatically created module for IPython interactive environment

In [2]:
df2 = pd.read_csv('./inputcompjour/transaction_data.csv', header=0)
demo = pd.read_csv('./inputcompjour/hh_demographic.csv', header=0)
causal = pd.read_csv('./inputcompjour/causal_data.csv', header=0)

In [5]:
print "Dataframe 1:"
display(df2.head())
print "Dataframe 2:"
HTML(demo.head().to_html())

Dataframe 1:

,household_key,BASKET_ID,DAY,PRODUCT_ID,QUANTITY,SALES_VALUE,STORE_ID,RETAIL_DISC,TRANS_TIME,WEEK_NO,COUPON_DISC,COUPON_MATCH_DISC
0,2375,26984851472,1,1004906,1,1.39,364,-0.60,1631,1,0.0,0.0
1,2375,26984851472,1,1033142,1,0.82,364,0.00,1631,1,0.0,0.0
2,2375,26984851472,1,1036325,1,0.99,364,-0.30,1631,1,0.0,0.0
3,2375,26984851472,1,1082185,1,1.21,364,0.00,1631,1,0.0,0.0
4,2375,26984851472,1,8160430,1,1.50,364,-0.39,1631,1,0.0,0.0

Dataframe 2:

In [6]:
print "Dataframe 3:"
HTML(causal.head().to_html())

Dataframe 3: