In [27]:
import pandas as pd
from IPython.display import HTML, display

In [ ]:
transactions = 'data/transaction_data.csv'
households = 'data/hh_demographic.csv'
products = 'data/product.csv'
campaign_desc = 'data/campaign_desc.csv'
campaign_table = 'data/campaign_table.csv'
causal_data = 'data/causal_data.csv'
coupon = 'data/coupon.csv'
coupon_redempt = 'data/coupon_redempt.csv'

In [2]:
df_trans = pd.read_csv(transactions)
df_hh = pd.read_csv(households)
df_prod = pd.read_csv(products)
df_camp_desc = pd.read_csv(campaign_desc)
df_camp_table = pd.read_csv(campaign_table)
df_causal = pd.read_csv(causal_data)
df_coup = pd.read_csv(coupon)
df_coup_redempt = pd.read_csv(coupon_redempt)

## Households

In [23]:
print '# of households: {}'.format(len(df_hh.index))

# of households: 801

In [24]:
print 'Sample'
df_hh.sample(5)

Sample

,AGE_DESC,MARITAL_STATUS_CODE,INCOME_DESC,HOMEOWNER_DESC,HH_COMP_DESC,HOUSEHOLD_SIZE_DESC,KID_CATEGORY_DESC,household_key
588,45-54,U,125-149K,Homeowner,1 Adult Kids,5+,3+,1864
493,25-34,A,50-74K,Homeowner,2 Adults No Kids,2,None/Unknown,1527
780,45-54,U,50-74K,Homeowner,1 Adult Kids,5+,3+,2435
508,55-64,B,35-49K,Homeowner,Single Female,1,None/Unknown,1568
191,35-44,U,50-74K,Unknown,Single Female,1,None/Unknown,575

Some categories are not fully described in PDF

In [65]:
hh_categories = {
    'Age Ranges': 'AGE_DESC',
    'Income Ranges': 'INCOME_DESC',
    'Homeowner Categories': 'HOMEOWNER_DESC',
    'Household Descriptions': 'HH_COMP_DESC',
    'Kid Categories': 'KID_CATEGORY_DESC'
}

In [71]:
for key, val in hh_categories.iteritems():
    display(HTML('<h4>{}</h4>'.format(key)))
    display(HTML(
        '<table><tr><td>{}</td></tr></table>'.format(
            '</td><td>'.join('{}'.format(str(_)) 
                             for _ in set(set(df_hh[val]))
                            )
        )
    ))

## Transactions

In [72]:
print '# of transactions: {}'.format(len(df_trans.index))

# of transactions: 2595732

In [12]:
print 'Transaction Sample'
df_trans.sample(5)

Transaction Sample

,household_key,BASKET_ID,DAY,PRODUCT_ID,QUANTITY,SALES_VALUE,STORE_ID,RETAIL_DISC,TRANS_TIME,WEEK_NO,COUPON_DISC,COUPON_MATCH_DISC
124757,1407,28024510719,88,6039972,2,1.18,438,0.00,1030,13,0.0,0.0
1920995,864,40037646697,546,861279,1,2.99,410,-1.20,1815,79,0.0,0.0
399161,328,29157286884,164,1016302,1,2.29,361,-0.70,1313,24,0.0,0.0
688897,1983,30627042524,240,934420,1,3.99,327,0.00,2028,35,0.0,0.0
163245,113,28197513576,102,1081177,1,1.97,375,-1.09,1655,15,0.0,0.0

In [84]:
print '# of baskets: {}'.format(len(set(df_trans['BASKET_ID'])))
print '# of stores: {}'.format(len(set(df_trans['STORE_ID'])))
print 'Max Quantity: {}'.format(df_trans['QUANTITY'].max())
print 'Min Quantity: {}'.format(df_trans['QUANTITY'].min())
print 'Max Sale Value: {}'.format(df_trans['SALES_VALUE'].max())
print 'Min Sale Value: {}'.format(df_trans['SALES_VALUE'].min())
print 'Max Retail Discount: {}'.format(df_trans['RETAIL_DISC'].max())
print 'Min Retail Discount: {}'.format(df_trans['RETAIL_DISC'].min())
print 'Max Coupon Discount: {}'.format(df_trans['COUPON_DISC'].max())
print 'Min Coupon Discount: {}'.format(df_trans['COUPON_DISC'].min())
print 'Max Coupon Match Discount: {}'.format(df_trans['COUPON_MATCH_DISC'].max())
print 'Min Coupon Match Discount: {}'.format(df_trans['COUPON_MATCH_DISC'].min())

# of baskets: 276484
# of stores: 582
Max Quantity: 89638
Min Quantity: 0
Max Sale Value: 840.0
Min Sale Value: 0.0
Max Retail Discount: 3.99
Min Retail Discount: -180.0
Max Coupon Discount: 0.0
Min Coupon Discount: -55.93
Max Coupon Match Discount: 0.0
Min Coupon Match Discount: -7.7

In [ ]:
df_tr

## Products

In [73]:
print '# of products: {}'.format(len(df_prod.index))

# of products: 92353

In [11]:
print 'Product Sample'
df_prod.sample(5)

Product Sample

,PRODUCT_ID,MANUFACTURER,DEPARTMENT,BRAND,COMMODITY_DESC,SUB_COMMODITY_DESC,CURR_SIZE_OF_PRODUCT
73759,10456467,1136,GROCERY,National,AIR CARE,AIR CARE - CANDLES,3 CT
27567,1011142,764,DRUG GM,National,SOAP - LIQUID & BAR,BODY WASH,12 OZ
28904,1022827,61,GROCERY,National,FD WRAPS/BAGS/TRSH BG,ALUMINUM FOIL,37.5 FT
91378,17249791,1487,GROCERY,National,YOGURT,YOGURT MULTI-PACKS,18 OZ
60706,7410001,5691,NUTRITION,National,NON EDIBLE PRODUCTS,NATURAL FOODS DISH,45 OZ

In [88]:
print '# of manufacturers: {}'.format(len(set(df_prod['MANUFACTURER'])))
print '# of departments: {}'.format(len(set(df_prod['DEPARTMENT'])))
print '# of commodity descriptions: {}'.format(len(set(df_prod['COMMODITY_DESC'])))
print '# of sub commodity descriptions: {}'.format(len(set(df_prod['SUB_COMMODITY_DESC'])))

# of manufacturers: 6476
# of departments: 44
# of commodity descriptions: 308
# of sub commodity descriptions: 2383

In [87]:
display(HTML(
        '<h4>Brands</h4><table><tr><td>{}</td></tr></table>'.format(
            '</td><td>'.join('{}'.format(str(_)) 
                             for _ in set(set(df_prod['BRAND']))
                            )
        )
    ))

## Campaigns

In [89]:
print '# of campaigns: {}'.format(len(df_camp_desc.index))

# of campaigns: 30

In [10]:
print 'Campaigns Sample'
df_camp_table.sample(5)

Campaigns Sample

     DESCRIPTION  household_key  CAMPAIGN
1331       TypeA           1207         8
2221       TypeA           1696        13
7198       TypeC           2324        15
5724       TypeB           1041        19
5539       TypeB           1899        17

In [9]:
print 'Campaign Details Sample'
df_camp_desc.sample(5)

Campaign Details Sample

   DESCRIPTION  CAMPAIGN  START_DAY  END_DAY
24       TypeB         2        351      383
0        TypeB        24        659      719
12       TypeA        13        504      551
2        TypeB        25        659      691
17       TypeA         8        412      460

## Causes

In [7]:
print 'Causal Details Sample'
df_causal.sample(5)

Causal Details Sample

          PRODUCT_ID  STORE_ID  WEEK_NO display mailer
26947579     5570406       354       37       0      A
30538906     8119297       424       75       0      D
30502864     8118968       334       78       0      A
36144370    14074079       355       80       3      0
23046632     1968685       396       85       5      A

## Coupons

In [75]:
print '# of coupons sent out: {}'.format(len(df_coup.index))
print '# of coupons redeemed: {}'.format(len(df_coup_redempt.index))

# of coupons sent out: 124548
# of coupons redeemed: 2318

In [15]:
print 'Coupons Issued Sample'
df_coup.sample(5)

Coupons Issued Sample

         COUPON_UPC  PRODUCT_ID  CAMPAIGN
7580    54850011033     1042915         9
99175   10000085477     2223176        18
31953   52840000075    12491699         8
40985   55410000076     9858880         8
100520  10000085478     9575251        18

In [16]:
print 'Coupons Redeemed Sample'
df_coup_redempt.sample(5)

Coupons Redeemed Sample

      household_key  DAY   COUPON_UPC  CAMPAIGN
1851           2123  505  54180010033        13
1701           1985  544  51600070033        13
2273           2489  415  10000089054         8
957            1005  420  10000085363         8
1982           2237  604  10000085475        18